<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>String2RegexDemo</title>
  <script src="lib/underscore/underscore.js"></script>
  <script src="lib/angular/angular.js"></script>
  <script src="lib/jquery/jquery.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0//js/bootstrap.min.js"></script>
  <script src="lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <script src="static/js/demo.js"></script>
  <script src="dist/string2regex.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="dist/string2regex.css" />
  <style>
    .string2regex-prettyregex .capture-parenthesis{
      color: red;
      font-weight: bold;
    }
  </style>
</head>
<body ng-app="string2regexdemo" ng-controller="MainController as main">
  
  <div class="container">
    <h1>String2Regex Demo</h1>
    
    <div class="row">
      <div class="col-md-10">
        <div class="form-group">
          <label>Sample String:</label>
          <input type="text" class="form-control" ng-model="main.holder.sample" />
        </div>
      </div>
      <div class="col-md-2">
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="main.holder.startAnchor"/> Start Anchor
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="main.holder.endAnchor"/> End Anchor
          </label>
        </div>
      </div>
    </div>

    <div string2regex="main.holder"></div>
    <label>Secondary String2Regex test</label>
    <div string2regex="main.holder"></div>
    <label>Resulting regex:</label>
    <pre>{{ main.holder.regex }}</pre>
    <label>Pretty resulting regex:</label>
    <div string2regex-prettyregex="main.holder.taggedregex"></div>

    <label>Holder JSON:</label>
    <textarea class="form-control" ng-model="main.result_json" rows="15">
    </textarea>
    <div class="btn btn-default" ng-click="main.set_json()">Set JSON</div>

  </div>

</body>
</html>
