<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>String2RegexDemo</title>
  <script src="lib/underscore/underscore.js"></script>
  <script src="lib/angular/angular.js"></script>
  <script src="lib/jquery/jquery.js"></script>
  <script src="lib/bootstrap/bootstrap.js"></script>
  <script src="lib/ui-bootstrap/ui-bootstrap-tpls-0.11.2.js"></script>
  <script src="static/js/demo.js"></script>
  <script src="dist/string2regex.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="dist/string2regex.css" />
</head>
<body ng-app="string2regexdemo" ng-controller="MainController as main">
  <script type="text/ng-template" id="String2RegexGroupEditor.html">
    <div class="modal-header">
      <h3 class="modal-title">Group Options</h3>
    </div>
    <div class="modal-body">
      <label>String:</label> <pre>{{ group.string }}</pre>
      <form name='mainform'>
        <div class="form-group">
          <label>Available Class: </label><br />
          <span ng-repeat="class in group.commonClass">
            <span ng-class=" class == group.selectedClass ? ['class-icon','selected','btn','btn-sm','btn-primary'] : ['class-icon','btn','btn-sm','btn-default'] " ng-click="group.select(class)" title="{{classInfo[class].button_tooltip}}">
              {{ classInfo[class].button_text }}
            </span>

          </span>
        </div>

        <div class="row">
          <div class="col-xs-4">
            <div class="form-group">
              <label>Multiplier: </label>
              <select ng-model="group.multiplier" class="form-control" required>
                <option value="constant">Constant</option>
                <option value="range">Range</option>
                <option value="omore">One or more (+)</option>
                <option value="zmore">Zero or more (*)</option>
                <option value="optional">Optional one (?)</option>
              </select>
            </div>
          </div>
          <div ng-if="group.multiplier == 'constant'">
            <div class="form-group col-xs-8">
              <label> Multiplier value: </label>
              <input type="number" class="form-control" ng-model="group.multiplier_constant" min="1" ng-required="group.multiplier == 'constant'"></input>
            </div>
          </div>
          <div ng-if="group.multiplier == 'range'">
            <div class="form-group col-xs-4">
              <label> Multiplier Min: </label>
              <input type="number" class="form-control" ng-model="group.multiplier_min" min="1" ng-max="{{group.multiplier_max}}" ng-required="group.multiplier == 'range'"></input>
            </div>
            <div class="form-group col-xs-4">
              <label> Multiplier Max: </label>
              <input type="number" class="form-control" ng-model="group.multiplier_max" min="{{group.multiplier_min}}" ng-min="{{group.multiplier_min}}" ng-required="group.multiplier == 'range'"></input>
            </div>
          </div>
        </div>

        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="group.do_capture"/> Capture Component
          </label>
        </div>

        <div class="clearfix" />

      </form>
    </div>
    <div class="modal-footer">
      <div ng-class="'btn btn-primary '+(mainform.$valid ? '' : 'disabled')" ng-click="mainform.$valid && editor.close()">Close</div>
    </div>
  </script>
  <script type="text/ng-template" id="string2regex-template.html">
    <div class="string2regex">
      <div class="string2regex-table">
        <div string2regex-group="rootGroup" />
      </div>
    </div>
  </script>
  <script type="text/ng-template" id="string2regex-template-group.html">
    <table ng-if="group !== undefined" class="group-table" style="background-color: {{ group.getGroupColor()}}">
      <tbody>
        <tr ng-if="group.childs.length == 0">
          <td colspan="{{ group.string.length }}">
            <div class="char-block"><span>{{ group.string }}</span></div>
          </td>
        </tr>
        <tr ng-if="group.childs.length>=1">
          <td ng-repeat="child in group.childs" colspan="{{ child.string.length }}">
            <div string2regex-group="child" />
          </td>
        </tr>
        <tr>
          <td colspan="{{ group.string.length }}">
            <div ng-repeat="class in group.commonClass" ng-if="classInfo[class].display_button || class == group.selectedClass" ng-class=" class == group.selectedClass ? ['class-icon','selected','btn','btn-xs','btn-primary'] : ['class-icon','btn','btn-xs','btn-default'] " ng-click="group.select(class)" title="{{classInfo[class].button_tooltip}}">
              {{ classInfo[class].button_text }}
            </div>
            <div class="btn btn-xs btn-default" ng-click="openEditor(group)"><span class="glyphicon glyphicon-cog" /></div>
          </td>
        </tr>
      </tbody>
    </table>
  </script>
  
  <div class="container">
    <h1>String2Regex Demo</h1>

    
    <div class="row">
      <div class="col-md-10">
        <div class="form-group">
          <label>Sample String:</label>
          <input type="text" class="form-control" ng-model="main.holder.sample" />
        </div>
      </div>
      <div class="col-md-2">
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="main.holder.startAnchor"/> Start Anchor
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="main.holder.endAnchor"/> End Anchor
          </label>
        </div>
      </div>
    </div>

    <div string2regex="main.holder"></div>
    <label>Secondary String2Regex test</label>
    <div string2regex="main.holder"></div>
    <label>Resulting regex:</label>
    <pre>{{ main.holder.regex }}</pre>

    <label>Holder JSON:</label>
    <textarea class="form-control" ng-model="main.result_json" rows="15">
    </textarea>
    <div class="btn btn-default" ng-click="main.set_json()">Set JSON</div>

  </div>

</body>
</html>
