<span ng-class="{ 'capture-group':tagged_regex.do_capture }">
  <span ng-if="tagged_regex.do_capture" class="capture-parenthesis capture-start">(</span>
  <span ng-repeat="part in tagged_regex">
    <span ng-if="_.isArray(part)">
      <span string2regex-prettyregex-group="part"></span>
    </span>
    <span ng-if="!_.isArray(part)"><span class="expression">{{ part.expression }}</span><span class="multiplier">{{ part.multiplier }}</span></span>
  </span>
  <span ng-if="tagged_regex.do_capture" class="capture-parenthesis capture-end">)</span>
</span>
