    <div class="modal-header">
      <h3 class="modal-title">Group Options</h3>
    </div>
      <form name='mainform' ng-submit="editor.save()">
    <div class="modal-body">
      <label>String:</label> <pre>{{ origroup.string }}</pre>
        <div class="form-group">
          <label>Available Class: </label><br />
          <span ng-repeat="class in origroup.commonClass">
            <span ng-class=" class == group.selectedClass ? ['class-icon','selected','btn','btn-sm','btn-primary'] : ['class-icon','btn','btn-sm','btn-default'] " ng-click=" group.selectedClass = class " title="{{classInfo[class].button_tooltip}}">
              {{ classInfo[class].button_text }}
            </span>
          </span>
        </div>

        <div class="row">
          <div class="col-xs-4">
            <div class="form-group">
              <label>Multiplier: </label>
              <select ng-model="group.multiplier" class="form-control" required>
                <option value="constant">Constant</option>
                <option value="range">Range</option>
                <option value="omore">One or more (+)</option>
                <option value="zmore">Zero or more (*)</option>
                <option value="optional">Optional one (?)</option>
              </select>
            </div>
          </div>
          <div ng-if="group.multiplier == 'constant'">
            <div class="form-group col-xs-8">
              <label> Multiplier value: </label>
              <input type="number" class="form-control" ng-model="group.multiplier_constant" min="1" ng-required="group.multiplier == 'constant'"></input>
            </div>
          </div>
          <div ng-if="group.multiplier == 'range'">
            <div class="form-group col-xs-4">
              <label> Multiplier Min: </label>
              <input type="number" class="form-control" ng-model="group.multiplier_min" min="1" ng-max="{{group.multiplier_max}}" ng-required="group.multiplier == 'range'"></input>
            </div>
            <div class="form-group col-xs-4">
              <label> Multiplier Max: </label>
              <input type="number" class="form-control" ng-model="group.multiplier_max" min="{{group.multiplier_min}}" ng-min="{{group.multiplier_min}}" ng-required="group.multiplier == 'range'"></input>
            </div>
          </div>
        </div>

        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="group.do_capture"/> Capture Component
          </label>
        </div>
        <div ng-if="group.do_capture">
          <label> Capture Name: </label>
          <input type="text" class="form-control" ng-model="group.capture_name" ng-required="group.do_capture"></input>
        </div>

        <div class="clearfix" />

    </div>
    <div class="modal-footer">
      <div ng-class="'btn btn-default'" ng-click="editor.close()">Close</div>
      <button ng-class="'btn btn-primary'">Save</button>
    </div>
      </form>
